
.sub-menu
{
  display: none;
  position: absolute;
  margin-left: 250px;
  margin-top: -2px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.sub-menu ul
{
  list-style: none;
  margin-left: -15px;
}

.sub-menu ul li
{
  display: inline-block;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
  width: 100%;
}

.social-media-structure
{
  float: right;
  margin-top: -30px;
  text-decoration: none;
  color: lime;
  font-size: 25px;
  display: block;
  clear: right;
  width: 200px;
  text-align: right;
}
