<div id="start-menu" class="start-menu-item matrix-font" style="text-transform: uppercase; font-size: 20px;">
  <div id="start-menu-button" class="start-menu-item">
    <img src="http://i.imgur.com/n9QWkc8.png" alt="Start">
  </div>
  <div id="start-menu-bar">
  </div>
  <div id="start-menu-display">
    <li class="start-menu-item">
      <a href="/" id="home-link">Home</a>
    </li>


    <ul id="start-menu-list">

      <li class="start-menu-item">
        <a href="/home/categories/about/" class="start-menu-link" title="Show all entries in About">About</a>
      </li>

      <li class="start-menu-item">
        <a href="/home/categories/professional-portfolio/" class="start-menu-link" title="Show all entries in Professional Portfolio">Professional Portfolio</a>
      </li>

      <li class="start-menu-item">
        <a href="/home/categories/python/" class="start-menu-link" title="Show all entries in Python">Python</a>
      </li>

      {% for category in site.categories %}
        <li class="start-menu-item">
          <a name="{{ category | first }}" class="start-menu-link">{{ category | first }}</a>
          {% for posts in category %}
            <ul>
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}" class="start-menu-link start-menu-item">{{ post.title }}</a>
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="sub-menu-display">

  </div>
</div>
